
/*
	Ce fichier est appelé par les fichiers html des articles seulement.
	Il met en forme les articles réguliers du blog (articles entiers et seuls, et non pas ceux du défilement de la page de présentation).
*/

article {
	width: 60%;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
}

article img {
	display: block;
	width: 40%;
	margin: auto;
}

.image-in-article {
	width: 100%;
}

.article-home-title {
	text-align: center;
	font-size: 24px;
}

.article-pic-legend {
	text-align: center;
	font-size: 13px;
}

.article-keypoint {
	font-size: 20px;
}

.article-subkeypoint {
	font-size: 16px;
}

.article-home-desc {
	font-size: 15px;
	font-family: "opensanslight";
	color: #ebebeb;
}

.code {
	padding: 5px;
	font-family: "consolas";
	background-color: #141122da;
	color: #b7bec7;
	border-radius: 4px;
	font-size: 13px;
}